
.redCircle{
    background-color: red;
    border: solid;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.3;
}
.blueCircle{
    background-color: blue;
    border: solid;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.3;
}
